@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-color: #fff;
}

html {
  padding-right: 0 !important;
  overflow-y: visible !important;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}
