@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  overflow: hidden;
}

html {
  overflow: hidden;
  max-width: 100dvw;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}
