.content {
  position: absolute;
  height: 100dvh;
  width: 100dvw;
  color: black;
  background-image: url('/chapiteauCompresser.jpeg');
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
}
